.quiz{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
.btn-takequiz {
    background-color: rgb(19, 180, 19);
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }